{% extends 'base.html.twig' %}

{% block title %}New Movie{% endblock %}

{% block body %}
    <h1>Créer un film</h1>

    {{ include('admin/movie/_form.html.twig') }}

    <a class="btn btn-success btn-sm" href="{{ path('admin_movie_index') }}">Voir la liste</a>
{% endblock %}
